Checks: >
  clang-diagnostic-*,
  clang-analyzer-*,
  cert-*,
  bugprone-*,
  concurrency-*,
  misc-*,
  portability-*,
  readability-*,
  performance-*,
  modernize-*,
  -readability-identifier-length,
FormatStyle: file
